<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .a {
        background-color: rgb(255, 208, 0);
        background-image: url("../assets/logo.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        float: left;
    }

    .b {
        border: 50px solid black;
        float: left;
    }
</style>


<body>
    <div>
        <div class="a"></div>
        <div class="b"></div>
    </div>

    <!-- <div style="border: 100px solid blue; float: left;"></div> -->

    <!-- <span class="b" style="border:100px solid black;"></span> -->
</body>

</html>